<a href="/" class="flex items-center space-x-3">
  <img
    src="/txchyon-logo.png"
    alt="Txchyon"
    width="180"
    height="45"
    class="h-9 w-auto transition-all hover:opacity-90"
    loading="lazy"
  />
  <span class="hidden md:inline-block font-bold text-xl tracking-tight text-gray-900 dark:text-white">
    Txchyon
  </span>
</a>